/reports/
/.idea/
/spec/fixtures/.config.js
/lib/debugTeamcity.js
/lib/debugIndexEslint.js
/lib/debugIndex.js
*bfg*
creditials
result.json
/temp/
fromCurrent.json
fromMaster.json
node_modules/